.container {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 3vw 2vw 2vw 0vw;
    font-size: 8vw;
    margin-top: 4vw;
}

.numero {
    font-weight: 600;
    display: block;
}

.label {
    text-transform: lowercase;
    margin: 0;
    font-size: 5vw;
    padding: 2vw;
    margin-bottom: 2vw;}
